.about {
    &__intro-wrap {
        display: grid;
        grid-gap: 30px;
    }
}

@media (min-width: 1024px) {
    .about {
        &__intro-wrap {
            grid-template-columns: 1fr 388px;
            padding-top: 176px;
            align-items: start;
        }
        &__container {
            max-width: 1080px;
            margin: 0 auto;
        }
    }
}
