.gradient {
    background: url("../img/symbol.svg") no-repeat center top,
        var(
            --gradient-supersoft,
            linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%)
        );
    border-radius: 0 0 12px 12px;
    position: relative;
    &::after {
        content: "";
        border-radius: 0 0 12px 12px;
        background: #cacadb;
        height: 10px;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
    }
    &::before {
        content: "";
        border-radius: 0 0 12px 12px;
        background: #e7e7f2;
        height: 10px;
        position: absolute;
        left: 40px;
        bottom: -20px;
        width: calc(100% - 80px);
    }
}

@media (min-width: 768px) {
    .gradient {
        background-size: 893px 1024px, cover;
    }
}

@media (min-width: 992px) {
    .gradient {
        background-size: 670px 768px, cover;
    }
}
