.logo {
    width: 70px;
    height: 33px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    &_white {
        background-image: url('../img/logo_white.svg');
    }
}