.my-dots {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    li {
        margin: 0 7px;
        &.slick-active {
            button {
                background-color: $active-regular;
            }
        }
    }
    button {
        cursor: pointer;
        font-size: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        background-color: rgba($active-regular, 0.2);
    }
}
