.team-tabs {
    padding-top: 50px;
    padding-bottom: 60px;
    &__content {
        width: 100%;
        background-color: $grey-bg;
        border-radius: 12px;
        margin-bottom: 30px;
        &-img {
            display: block;
            height: 500px;
            width: 100%;
            object-fit: cover;
            border-radius: 12px 12px 0 0;
        }
        &-inner-text {
            padding: 30px;
            display: grid;
            grid-gap: 30px;
        }
        &-title {
            padding-top: 5px;
        }
        &-author {
            color: $grey-text;
            padding-bottom: 6px;
        }
        &-author-job {
            color: $grey-text;
        }
    }
    &__switch {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 15px;
        &-item {
            padding: 0;
            border: none;
            cursor: pointer;
            background: $active-regular;
            opacity: 0.2;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            &.active {
                opacity: 1;
            }
        }
    }
}

@media (min-width:768px) {
    .team-tabs {
        // padding-top: 80px;
    }
}
