@media (min-width: 768px) {
    .dot-separ::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: $grey-separator;
        border-radius: 50%;
        margin: 0 6px;
    }
}
