.go-page-link {
    display: inline-flex;
    align-items: center;
    color: $active-regular;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    &::after {
        content: "";
        display: block;
        width: 8px;
        height: 11px;
        background-image: url("../img/arrow-small.svg");
        margin-left: 4px;
    }
}