.main-link {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: $active-regular;
    &:hover {
        color: $accent;
    }
    &_white {
        color: $basic-white;
    }
}