.my-dots {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    li {
        margin: 0 7px;
        &.slick-active {
            button {
                opacity: 1;
            }
        }
    }

    button {
        cursor: pointer;
        font-size: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        background-color: #24A3FF;
        opacity: 0.2;
    }
}